{% extends "base.html" %}
{% block style %}
	img, textarea { border-radius: 1ex; height: 270px; width: 480px; }
	textarea { border: solid 1px #999; height: 200px; }
	button { background: #9996 !important; border: solid 1px #999; }
{% endblock %}
{% block title %} - {{ item.title }}{% endblock %}
{% block body %}
	<a href="/"><h1>The Video Game Valley <sub>Compendium</sub></h1></a>
	{%- if msg %}
	<div>{{ msg }}</div>
	{%- endif %}
	<a href="https://www.youtube.com/watch?v={{ item.video_id }}">
		<h2>{{ item.title }}</h2>
		<img src="https://i.ytimg.com/vi/{{ item.video_id }}/maxresdefault.jpg"/>
	</a><br/>
	Published at {{ item.video_published_at }}.
	Estimated air date {{ item.video_published_at|to_date }}
	<form action="/save-detail/{{ item.video_id }}" method="post">
		<h3><label for="notes">Notes</label></h3>
		<details>
			<summary>How the heck does this work?</summary>
			<ul>
				<li>list short notes in order of their occurrence, separated by commas</li>
				<li>"egg" and "event" have special behavior<ul>
					<li>say "egg 321" or "event 123" to anchor the # for that note</li>
					<li>say "!egg" or "!event" to automatically derive the # from other notes</li>
					<li>need at least one anchor for derivation to work</li>
					<li>derived numbers have a little ʹ to indicate it</li>
				</ul></li>
				<li>total length of notes for each video is currently limited to 100 characters</li>
			</ul>
		</details>
		<textarea id="notes" name="notes">{% if detail.entries %}{{ (detail.entries|last).notes }}{% endif %}</textarea><br/>
		<input type="hidden" name="etag" value="{{ detail.etag }}"/>
		{%- if admin %}<button type="submit">Save</button> (your email will be recorded but not made visible to anyone){% endif %}
	</form>
	{%- if detail.entries %}
	<h3>History</h3>
	{%- for entry in detail.entries|reverse %}
	<details>
		<summary>At {{ entry.timestamp }}</summary>
		<pre>{{ entry.notes }}</pre>
	</details>
	{%- endfor %}
	{%- endif %}
{% endblock %}
