{% extends "base.html" %}
{% block init %}
			const sb = document.getElementById('sb');
			sb.style.display = '';
			const viz = document.getElementById('viz');
{%- endblock %}
{% block script %}
		let frags = null;
		const load_sb = () => {
			sb.innerText = '. Storyboard loading...';
			let req = new XMLHttpRequest();
			req.addEventListener('load', () => {
				for (let i = 0; i < req.response.length; i++) {
					let f = req.response[i];
					if (f.format_id === 'sb1') {
						frags = f.fragments;
						let total = 0;
						for (let j = 0; j < frags.length; j++) {
							total += frags[j].duration;
							if (total > 55*60) {
								return show_sb(j, j+1);
							}
						}
						{#- Could do something smarter for this case... #}
						return show_sb(0, 1);
					}
				}
				fail_sb();
			});
			req.addEventListener('error', fail_sb);
			req.open('GET', '/storyboard/{{ item.video_id }}');
			req.responseType = 'json';
			req.send();
		};
		const fail_sb = () => sb.innerText = '. Storyboard is :(';
		const show_sb = (start, stop) => {
			let h = '';
			let t = 0;
			h += '<div>';
			if (start > 0) {
				h += '<a href="javascript:show_sb(' + (start-1) + ', ' + stop + ')">Show earlier</a>. ';
			}
			for (let i = 0; i < stop; i++) {
				if (i >= start) {
					h += 'At ' + clock(t) + '</div><img src="' + frags[i].url.replaceAll('"', '') + '"><div>';
				}
				t += frags[i].duration;
			}
			h += 'At ' + clock(t);
			if (stop < frags.length) {
				h += '. <a href="javascript:show_sb(' + start + ', ' + (stop+1) + ')">Show later</a></div>';
			}
			sb.innerText = '';
			viz.innerHTML = h;
		};
		const clock = (t) => {
			t = Math.round(t);
			const s = t % 60;
			t = Math.round((t-s)/60);
			const m = t % 60;
			const h = Math.round((t-m)/60);
			t = (i) => i > 10 ? i : '0'+i;
			return '' + h + ':' + t(m) + ':' + t(s);
		};
{%- endblock %}
{% block style %}
		img, textarea { border-radius: 1ex; height: 270px; width: 480px; }
		textarea { border: solid 1px #999; height: 200px; }
		button { background: #9996 !important; border: solid 1px #999; }
{%- endblock %}
{% block title %} - {{ item.title }}{% endblock %}
{% block body %}
	<a href="/"><h1>The Video Game Valley <sub>Compendium</sub></h1></a>
	{%- if msg %}
	<div>{{ msg }}</div>
	{%- endif %}
	<h2>{{ item.title }}</h2>
	<div>
		{%- if next %}<a href="/detail/{{ next.video_id }}">↑ Next</a>{% if prev %}. {% endif %}{% endif %}
		{%- if prev %}<a href="/detail/{{ prev.video_id }}">Previous ↓</a>{% endif -%}
	</div>
	<div id="viz">
		<img src="https://i.ytimg.com/vi/{{ item.video_id }}/maxresdefault.jpg"/>
	</div>
	<a href="https://www.youtube.com/watch?v={{ item.video_id }}">Watch</a><span id="sb" style="display:none">.
	<a href="javascript:load_sb()">Storyboard</a></span><br/>
	Published at {{ item.video_published_at }}.
	Estimated air date {{ item.video_published_at|to_date }}
	<form action="/save-detail/{{ item.video_id }}" method="post">
		<h3><label for="notes">Notes</label></h3>
		<details>
			<summary>How the heck does this work?</summary>
			<ul>
				<li>list short notes in order of their occurrence, separated by commas</li>
				<li>"egg" and "event" have special behavior<ul>
					<li>say "egg 321" or "event 123" to anchor the # for that note</li>
					<li>say "!egg" or "!event" to automatically derive the # from other notes</li>
					<li>need at least one anchor for derivation to work</li>
					<li>derived numbers have a little ʹ to indicate it</li>
				</ul></li>
				<li>total length of notes for each video is currently limited to 100 characters</li>
			</ul>
		</details>
		<textarea id="notes" name="notes">{% if detail.entries %}{{ (detail.entries|last).notes }}{% endif %}</textarea><br/>
		<input type="hidden" name="etag" value="{{ detail.etag }}"/>
		{%- if admin %}<button type="submit">Save</button> (your email will be recorded but not made visible to anyone){% endif %}
	</form>
	{%- if detail.entries %}
	<h3>History</h3>
	{%- for entry in detail.entries|reverse %}
	<details>
		<summary>At {{ entry.timestamp }}</summary>
		<pre>{{ entry.notes }}</pre>
	</details>
	{%- endfor %}
	{%- endif %}
{%- endblock %}
